[Unit]
Description=initiate KSK rollovers for DNSSEC-enabled zones

[Timer]
#OnCalendar=quarterly
# every 4 months in week 3:
OnCalendar=*-1/4-15
RandomizedDelaySec=1w
Persistent=true

[Install]
WantedBy=timers.target
