[Unit]
Description=initiate ZSK rollovers for DNSSEC-enabled zones

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nsd-dnssec-process start zsk_rollover
SuccessExitStatus=TEMPFAIL
